<!--<!DOCTYPE html>-->
<!--<html lang="kr">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Flask Index</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <div>-->
<!--        <article>-->
<!--            <h1>hello</h1>-->
<!--        </article>-->
<!--        </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

{% extends 'layout.html' %}
{% block content %}
<div>
    <div>
        <article>
            <h1>hello</h1>
        </article>
    </div>
</div>
{% endblock %}